<?xml version="1.0" encoding="utf-8" ?>
<!-- Configuration file for GrammarLlama application -->
<configuration>
    <!-- Define custom configuration sections -->
    <configSections>
        <!-- User settings section group -->
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <!-- GrammarLlama.Properties.Settings section -->
            <section name="GrammarLlama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
    <!-- User-specific application settings -->
    <userSettings>
        <GrammarLlama.Properties.Settings>
            <setting name="apiendpoint" serializeAs="String">
                <value>http://localhost:11434/api/generate</value>
            </setting>
            <setting name="model" serializeAs="String">
                <value>llama3.1</value>
            </setting>
            <setting name="isDarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="system" serializeAs="String">
                <value>You are a grammar and spelling corrector. Your goal is to correct any text presented by the user.</value>
            </setting>
        </GrammarLlama.Properties.Settings>
    </userSettings>
</configuration>